<div id="Main" class="container-fluid p-0">

  <!-- Navbar -->
  <bookr-navbar [brandName]="title"></bookr-navbar>

  <!-- MainContent -->
  <div id="MainContent" class="">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <!-- <footer id="MainFooter" class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© {{currentDate}} Copyright:
      <a href="https://github.com/akania93" target="_blank"> arka</a>
      <div class="footer-icons">
        <a href="https://arturkania.wordpress.com/" target="_blank">
          <i class="fa fa-home"> </i>
        </a>
        <a href="https://www.linkedin.com/in/artur-kania-9560a5112/" target="_blank">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a href="https://github.com/akania93" target="_blank">
          <mdb-icon fab icon="github-square"></mdb-icon>
        </a>
      </div>
    </div>
  </footer> -->

</div>